Repository meetingbook/meetingbook, pull requests merged in 2021-10, with the labels that each got.

#101 Feature/99 Swagger API for guest link and more
  backend/server/static/api/meetingbook.yaml
Labels: system-design

#102 feat(schedule_delete): implement DELETE for /schedule
  backend/server/app.py
  backend/server/schedule_delete.py
  backend/server/schedule_get.py
  backend/tests/test_delete_endpoint_schedule.py
  backend/tests/test_delete_slot_for_schedule.py
  backend/tests/test_error_hendler.py
  backend/tools/delete_slot_by_id_for_schedule.py
  backend/tools/get_slots_from_db_for_schedule.py
Labels: 🚀 feature, backend

#113 feature(refactoring): refactored register to MVC
  backend/domain/__init__.py
  backend/domain/entities/__init__.py
  backend/domain/entities/admin.py
  backend/domain/entities/email.py
  backend/domain/repositories/__init__.py
  backend/domain/repositories/admin_repository.py
  backend/domain/use_cases/__init__.py
  backend/domain/use_cases/admin_usecases.py
  backend/domain/value_objects/__init__.py
  backend/domain/value_objects/password.py
  backend/server/login.py
  backend/server/register.py
  backend/tests/test_admin_useceses.py
  backend/tests/test_func_for_psw.py
  backend/tests/test_func_login_with_db.py
  backend/tests/test_login_page.py
  backend/tests/test_register_blueprint.py
  backend/tools/for_db/work_with_admin_info.py
  backend/tools/func_for_psw.py
  backend/tools/validation.py
Labels: 🚀 feature, backend

#110 feat(CORS): added to app.py
  backend/README.md
  backend/requirements.txt
  backend/server/app.py
Labels: 🚀 feature, backend

#115 feat(auth): refactored auth
  backend/server/auth.py
  backend/server/login.py
Labels: 🚀 feature, backend

#116 fix(API): fix rest API for registration
  backend/server/register.py
  backend/tests/test_register_blueprint.py
Labels: 🐛 bug, backend

#161 feat(login): connect login page to the backend
  backend/server/app.py
  backend/server/login.py
  backend/tests/test_login_page.py
  webapp/src/infra/storage.js
  webapp/src/infra/webservice.js
  webapp/src/pages/login/index.jsx
  webapp/src/pages/signup/index.jsx
  webapp/src/ui/components/atoms/snackbar/index.jsx
  webapp/src/ui/components/atoms/textfield/BasicTextField/index.jsx
  webapp/src/ui/components/atoms/textfield/PasswordTextField/index.jsx
Labels: 🚀 feature, backend, frontend
