Repository meetingbook/meetingbook, pull requests merged in 2021-09, with the labels that each got.

#60 feat(project-setup): added third gitignore in root
  .gitignore
Labels: 🚀 feature

#55 Feature(swagger_ui): add swagger UI
  backend/README.md
  backend/requirements.txt
  backend/server/app.py
  backend/server/static/__init__.py
  backend/server/static/api/__init__.py
  backend/server/static/api/meetingbook.yaml
  backend/server/swagger_ui.py
Labels: 🚀 feature, backend

#58 feat(GET request): define JSON schema
  backend/server/static/api/meetingbook.yaml
Labels: 📚 documentation, backend

#63 fix(JSON): delete admin_id
  backend/server/static/api/meetingbook.yaml
Labels: 📚 documentation, backend

#62 feat(migration): relocate models
  backend/README.md
  backend/config/__init__.py
  backend/db/models/__init__.py
  backend/migrations/README.md
  backend/migrations/versions/b405d05fd250_.py
  backend/server/__init__.py
  backend/server/app.py
  backend/server/hello_json.py
  backend/server/index.py
  backend/tests/test_admin_page.py
  backend/tests/test_index_page.py
Labels: 🚀 feature, backend

#65 feat(functions): Add func to prepare psw
  backend/requirements.txt
  backend/tests/test_func_for_psw.py
  backend/tools/func_for_psw.py
Labels: 🚀 feature, backend

#66 feat(func): add func for work with db
  backend/tests/test_func_login_with_db.py
  backend/tools/create_db_for_tests.py
  backend/tools/work_with_db.py
Labels: 🚀 feature, backend

#81 feat(login): add blueprint for login
  backend/server/app.py
  backend/server/login.py
  backend/tests/test_func_for_psw.py
  backend/tests/test_func_login_with_db.py
  backend/tests/test_login_page.py
  backend/tools/func_for_psw.py
Labels: 🚀 feature, backend

#86 feat(reg): added function for registration
  backend/tests/test_func_login_with_db.py
  backend/tools/work_with_db.py
Labels: 🚀 feature, backend

#67 feat(schedule endpoint): added handlers for /shedule
  backend/db/models/__init__.py
  backend/requirements.txt
  backend/server/app.py
  backend/server/schedule_get.py
  backend/tests/test_get_slots_by_filter.py
  backend/tests/test_get_slots_in_day.py
  backend/tests/test_get_slots_in_day_by_filter.py
  backend/tests/test_get_slots_in_week.py
  backend/tests/test_get_slots_in_week_by_filter.py
  backend/tools/get_slots_by_filter.py
  backend/tools/get_slots_from_db_for_schedule.py
  backend/tools/query_slots.py
  backend/tools/transform_str_to_datetime_and_back.py
Labels: 🚀 feature, backend

#84 feat(login): login css added
  web/.prettierrc.js
  web/app/css/styles.css
  web/app/images/loginbackground.svg
  web/app/js/app.js
  web/app/js/app.test.js
  web/app/login.html
  web/package.json
Labels: 🚀 feature, frontend

#91 feat(swagger): added Post for /schedule
  backend/server/static/api/meetingbook.yaml
Labels: system-design

#90 feat(error): added error_handler for schedule
  backend/server/schedule_get.py
  backend/tests/test_error_hendler.py
Labels: 🚀 feature, backend

#97 fix(some errors): fix errors
  backend/db/models/__init__.py
  backend/server/static/api/meetingbook.yaml
  backend/tests/test_get_slots_by_filter.py
  backend/tests/test_get_slots_in_day.py
  backend/tests/test_get_slots_in_day_by_filter.py
  backend/tests/test_get_slots_in_week.py
  backend/tests/test_get_slots_in_week_by_filter.py
Labels: backend

#92 feat(swagger): added Delete for /schedule
  backend/server/static/api/meetingbook.yaml
Labels: system-design

#87 feat(swagger): REST API for registration
  backend/server/static/api/meetingbook.yaml
Labels: 🚀 feature, backend

#89 feat(register): added business logic for registration
  backend/config/__init__.py
  backend/domain/__init__.py
  backend/domain/entities/__init__.py
  backend/domain/entities/admin.py
  backend/domain/entities/email.py
  backend/domain/repositories/__init__.py
  backend/domain/repositories/admin_repository.py
  backend/domain/use_cases/__init__.py
  backend/domain/use_cases/admin_usecases.py
  backend/domain/value_objects/__init__.py
  backend/domain/value_objects/password.py
  backend/migrations/versions/b405d05fd250_.py
  backend/server/app.py
  backend/server/login.py
  backend/server/register.py
  backend/tests/test_admin_useceses.py
  backend/tests/test_func_for_psw.py
  backend/tests/test_func_login_with_db.py
  backend/tests/test_login_page.py
  backend/tests/test_register_blueprint.py
  backend/tools/func_for_psw.py
  backend/tools/work_with_db.py
Labels: 🚀 feature, backend
