Repository meetingbook/meetingbook, pull requests merged in 2021-08, with the labels that each got.

#14 feat(setup): backend project setup
  backend/cli/add_interval.py
  backend/cli/comand_line_parser.py
  backend/cli/convert_time.py
  backend/cli/db.py
  backend/cli/delete_all.py
  backend/cli/delete_day.py
  backend/cli/delete_interval.py
  backend/cli/get_slots.py
  backend/cli/main.py
  backend/config/__init__.py
  backend/db/test_main_db.sqlite
  backend/docs/new.txt
  backend/server/__init__.py
  backend/tests/__init__.py
  backend/tests/func_for_test_db.py
  backend/tests/test-tool.py
  backend/tests/test_add_intervals.py
  backend/tests/test_db.py
  backend/tests/test_delete_all.py
  backend/tests/test_delete_day.py
  backend/tests/test_delete_interval.py
  backend/tests/test_get_slots.py
  backend/tests/test_regular_day.py
  backend/tests/test_regular_filter.py
  backend/tests/test_regular_start_end.py
  backend/tests/test_sanity.py
Labels: backend, 🚀 feature

#20 feat(GitHub Actions): Added to run Python tests
  .github/workflows/python-package.yml
  .gitignore
  backend/requirements.txt
Labels: 🚀 feature, backend

#21 fix(pipeline): fix PR type
  .github/workflows/python-package.yml
Labels: 🚀 feature

#16 feat(ignore): prevented commit files DB
  .gitignore
Labels: 🚀 feature, backend

#22 fix(pipeline): fix workflows
  .github/workflows/python-package.yml
  backend/.flake8
  backend/bin/auto_format.py
  backend/cli/comand_line_parser.py
  backend/cli/convert_time.py
  backend/cli/db.py
  backend/cli/delete_all.py
  backend/cli/get_slots.py
  backend/requirements.txt
  backend/tests/test_get_slots.py
  backend/tests/test_sanity.py
Labels: 🐛 bug

#24 fix(imports): fixed ImportError in pytest
  .github/workflows/python-package.yml
  backend/README.md
  backend/__init__.py
  backend/bin/auto_format.py
  backend/cli/__init__.py
  backend/cli/add_interval.py
  backend/cli/comand_line_parser.py
  backend/cli/delete_all.py
  backend/cli/delete_day.py
  backend/cli/delete_interval.py
  backend/cli/get_slots.py
  backend/cli/main.py
  backend/tests/test_add_intervals.py
  backend/tests/test_db.py
  backend/tests/test_delete_all.py
  backend/tests/test_delete_day.py
  backend/tests/test_delete_interval.py
  backend/tests/test_get_slots.py
  backend/tests/test_regular_day.py
  backend/tests/test_regular_filter.py
  backend/tests/test_regular_start_end.py
  backend/tests/test_sanity.py
  backend/tools/__init__.py
  backend/tools/func_for_test_db.py
  backend/tools/test-tool.py
Labels: 🐛 bug, backend

#26 feat(app): add app.py
  backend/README.md
  backend/server/app.py
  backend/server/hello_json.py
Labels: 🚀 feature, backend

#35 Bug/29 fix imports
  .gitignore
  backend/README.md
  backend/db/.gitkeep
Labels: 🐛 bug

#37 fix(imports): all imports are fixed
  backend/README.md
  backend/cli/__init__.py
  backend/cli/__main__.py
  backend/cli/db/__init__.py
  backend/cli/db/add_interval.py
  backend/cli/db/convert_time.py
  backend/cli/db/delete_all.py
  backend/cli/db/delete_day.py
  backend/cli/db/delete_interval.py
  backend/cli/db/get_slots.py
  backend/cli/main.py
  backend/cli/parser/__init__.py
  backend/server/hello_json.py
  backend/tests/test_add_intervals.py
  backend/tests/test_delete_all.py
  backend/tests/test_delete_day.py
  backend/tests/test_delete_interval.py
  backend/tests/test_get_slots.py
  backend/tests/test_regular_day.py
  backend/tests/test_regular_filter.py
  backend/tests/test_regular_start_end.py
  backend/tools/func_for_test_db.py
  backend/tools/test-tool.py
Labels: 🐛 bug

#19 fix(message error): convert time in message error
  backend/cli/db/convert_time.py
  backend/cli/db/delete_all.py
  backend/cli/db/delete_day.py
  backend/cli/db/delete_interval.py
Labels: 🐛 bug, backend

#38 Feat(test): add test for app.py
  backend/server/app.py
  backend/tests/test_app.py
Labels: 🚀 feature, backend

#40 Fix(sanity): fixed sanity_test
  .github/workflows/python-package.yml
  backend/tests/test_sanity.py
  backend/tools/test-tool.py
Labels: 🐛 bug, backend

#45 Feat(get_slots): upgrade code
  backend/cli/db/get_slots.py
Labels: 🚀 feature, backend

#46 Fix(get_slots): fix bug extra interval
  backend/cli/db/get_slots.py
  backend/tests/test_get_slots.py
  backend/tests/test_sanity.py
Labels: 🐛 bug, backend

#41 feat(project-setup): web app project setup finished
  README.md
  backend/.gitignore
  web/.editorconfig
  web/.eslintignore
  web/.eslintrc.js
  web/.gitignore
  web/.prettierrc.js
  web/.stylelintignore
  web/.stylelintrc.json
  web/README.md
  web/app/css/styles.css
  web/app/index.html
  web/app/js/app.js
  web/app/js/app.test.js
  web/babel.config.js
  web/package-lock.json
  web/package.json
Labels: 🚀 feature

#42 Feat(migration):Added migrations to create tables
  backend/.flake8
  backend/README.md
  backend/migrations/README.md
  backend/migrations/alembic.ini
  backend/migrations/env.py
  backend/migrations/script.py.mako
  backend/migrations/versions/728725157886_.py
  backend/requirements.txt
  backend/server/app.py
Labels: 🚀 feature, backend
